@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #00adb5;
	--secondary-color: #3282b8;

	--text-color: #2f45a7;

	--background-dark: #393e46;
	--background-light: #daeaf1;

	--nav-shadow: 0 5px 7px rgba(55, 226, 213, 0.7);
	--footer-shadow: 0 -5px 7px rgba(55, 226, 213, 0.7);
	--box-shadow: 0 0 10px rgba(55, 226, 213, 0.7);
	--button-shadow: 4px 4px 6px rgba(50, 130, 184, 0.8);
}

/* :root {
	--primary-color: rgb(243, 30, 30);
	--secondary-color: white;

	--text-color: white;

	--background-dark: black;
	--background-light: rgb(70, 70, 70);

	--nav-shadow: 0 5px 7px rgba(247, 247, 247, 0.7);
	--footer-shadow: 0 -5px 7px rgba(232, 235, 235, 0.7);
	--box-shadow: 0 0 10px rgba(252, 252, 252, 0.6);
	--button-shadow: 4px 4px 6px rgba(247, 247, 247, 0.8);
} */

html,
body {
	font-family: 'Poppins', sans-serif;
	line-height: 1.8;
	background-color: var(--background-light);
	color: var(--text-color);
	scrollbar-color: var(--primary-color) var(--secondary-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 5px;
}
::-webkit-scrollbar {
	background-color: var(--secondary-color);
	width: 10px;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	color: var(--secondary-color);
}

p {
	margin: 10px 0;
}

h1 {
	margin-bottom: 20px;
}

.btn-block {
	font-size: 15px;
	display: block;
	text-align: center;
	background-image: linear-gradient(
		to left,
		#314755 0%,
		#26a0da 51%,
		#314755 100%
	);
	background-size: 200% auto;
	transition: 0.5s;
	box-shadow: var(--button-shadow);
	color: #92faff;
	border: 0;
	border-radius: 15px;
	padding: 5px 15px;
	/* margin: 20px 20px; */
	cursor: pointer;
}

.btn-block:hover {
	background-position: right center;
	color: #fff;
	box-shadow: none;
}

.btn-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-icon svg {
	margin-right: 5px;
}

.btn {
	background-image: linear-gradient(
		to right,
		#314755 0%,
		#26a0da 51%,
		#314755 100%
	);
	cursor: pointer;
	margin: 10px;
	padding: 5px 15px;
	text-align: center;
	transition: 0.5s;
	background-size: 200% auto;
	color: #92faff;
	box-shadow: var(--button-shadow);
	border-radius: 17px;
}

.btn:hover {
	background-position: right center;
	color: #fff;
	box-shadow: none;
}
